.contactoSmall{
    display: flex;
    border-bottom:0.3px solid black ;
    border-top:0.3px solid black ;
    align-items: center;
    &__img{ 
        height:1.5rem; 
        aspect-ratio: 1.5/1; 
    }
    &__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }
    &__nombre{
        font-size: 1rem;
    }
    &__fecha{
        font-size: 1rem;
    }
}