.contactoBig{
    display: flex;
    border-bottom:0.5px solid black ;
    border-top:0.5px solid black ;
    
    &__img{ 
        height:10vh; 
        aspect-ratio: 1.5/1; 
    }
    &__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }
    &__nombre{
        font-size: 1.25rem;
    }
    &__fecha{
        font-size: 0.8rem;
        align-self: flex-start;
    }
}